/*SE CARGAN FUENTES PERSONALIZADAS 
*/@font-face {	font-family: 'Nobile';
                 src: url('fonts/nobile.eot');	
                 src: local(''),  url('fonts/nobile.ttf') format('truetype'), 	 
                 url('fonts/nobile.woff') format('woff'), 				
                  url('fonts/nobile.svg') format('svg');	
                  font-weight: normal;	font-style: normal;}

@font-face {	font-family: 'ShadowsIntoLightTwo-Regular';
src: url('fonts/ShadowsIntoLightTwo-Regular.eot');
src: local(''), url('fonts/ShadowsIntoLightTwo-Regular.woff') format('woff'), 
url('fonts/ShadowsIntoLightTwo-Regular.ttf') format('truetype'), 	               
 url('fonts/ShadowsIntoLightTwo-Regular.svg') format('svg');	
 font-weight: normal;	
 font-style: normal;}
 	  
 /* ESTILOS PARA PAGINA ADMINISTRATIVA */
#contenedor_principaladmin a {	cursor: hand;  	cursor: pointer;}
#contenedor_principaladmin {	width: 100%;}
#contenedor_centraladmin   {	width: 100%; 	height: 600px;}
#footadmin {	width: 100%;	margin: auto;	height: 100%; 	float: left; 	font-size: 12px;	background-color: #B6B6B7;}

#listaregistroinicial table {width:650px;}
#listapedidosinicial  table {width:650px;}
#listapedidosfinal    table {width:650px;}
#datoscliente         table {width:650px;}

/*ESTILOS PARA PAGINA WEB NORMAL*/
#contenedor_principal {	width: 100%;}
#contenedor_fondo {	font-family: Nobile;	width: 100%; 	margin-left:auto; 	margin-right:auto; }
#head{	/*background-color: red; */	width: 100%; 	/*height: 153px;*/}
#foot {	width: 100%;	margin: auto;	height: 100%; 	float: left; 	font-size: 15px;	background-color: #333333;	font-family: ShadowsIntoLightTwo-Regular;	font-size: 15px;}
#contenedor1foot {	font-family: Nobile;	width: 23%; 	float: left; 	text-align: justify;	margin-left: 10px;	margin-right: 20px;	color: #E9E9E9;}
#contenedor2foot {	font-family: Nobile;	width: 23%;	float: left; 	text-align: justify;	color: #E9E9E9;	over-flow: hidden;}
#contenedor2foot p {	font-family: ShadowsIntoLightTwo-Regular;	font-size: 24px;	color: #C49E0D;}
#contenedor3foot {	width: 23%;	float: left; 	margin-right: 15px;	margin-left: 15px;}
#contenedor3foot p {	font-size: 24px;	color: #C49E0D;}
#contenedor4foot {	font-family: Nobile;	text-align: left;	width: 23%;	float: left; 	color: #E9E9E9;}
#contenedor4foot p {	font-family: ShadowsIntoLightTwo-Regular;	font-size: 24px;	color: #C49E0D;}
#contenedor5foot {	float: left;	width: 100%;	background-color: #333333;	font-family: Nobile;	color: #E9E9E9;}
#foot img {	width: 100%;}#foot #logofoot {	margin: 0 auto;	width: 80%;}

#contenedor_central   {	float:left;   	/*background-color: red; */	width: 100%; 	text-align: left; 	overflow: auto;	margin: 20px;	overflow-y: hidden;}

/*ESTILOS PARA EL MENU*/
#menu a {	/*text-transform: uppercase;*/	color: #000000;	/*text-decoration: none;*/	font-family: ShadowsIntoLightTwo-Regular;	font-size: 28px;	cursor: hand;  	cursor: pointer;  	font-weight: bold;}#menu {	margin: 0 auto;	width: 100%;	background-color: white;	padding-top: 0px;	position: relative;	text-align: center;	top:85%;	z-index:2;}
#menu #child {	text-align: center;	/*vertical-align: middle;*/}
.lineaprincipal {	background-color: #C49E0D;	height: 5px;	width: 100%;	float: left;}
.linea {	background-color: #C49E0D;	height: 5px;	width: 48%;	float: left;}
.rombo {	padding-left: 2px;	padding-right: 2px;	margin-top: -7px;	height: 15px;	float: left;	background-color: white;	font-size: 15px;}
.lineaprincipalfoot {	background-color: #C49E0D;	height: 5px;	width: 100%;	float: left;}	
.lineafoot {	background-color: #C49E0D;	height: 5px;	width: 45%;	float: left;}
.rombofoot {	padding-left: 2px;	padding-right: 2px;	margin-top: -7px;	height: 15px;	float: left;	background-color: #333333;	font-size: 15px;}
#banner {	width: 100%;}
#banner img {	width: 100%;}
#mensajePedido {	text-align: center;}/*#menu #child  a:hover {	color: #3E2126;	font-weight: bold;}*/

/*ESTILOS PARA PRODUCTOS COMPRAS Y PRODUCTOS IMAGENES*/

#productos_compra {	width: 30%;	height: 0px;	margin-top: 4px;	float: left;	visibility: hidden;	position: fixed; 	right:0%; 	top:12.5%;	z-index:100;	/*padding-top: 50px;*/	/*height: 1200px;	background-color: red;		*/	overflow-y: scroll;	overflow-x: hidden;}
#productos_compra h2 {	/*text-transform: uppercase;*/    color: #000000;    text-align: center;    position: relative;    font-size: 17px;           margin: 0 0 0 0;    /*    background-color: #514F4E;     font-weight:bold;    font-style:italic;    */}
#productos_compra table {	width: 100%;}

.cantidadInput {	/*background-color: blue;*/	float:left;	height: 100%;}
.incrementaDecrementa {	/*background-color: red;*/	float:left;	padding-left: 2px;	margin: 2px;}
.unidades {	float:left;	margin-top: 7px;}
.tabla .modo1 .incrementaDecrementa img {	width: 15px;    height: 10px;}
#productos_imagenes {	width:70%;	float:left;	visibility: hidden;	height: 0px;	display: block;	/*	display: inline-block;	background-color: blue;*/	padding-top: 50px;}
.imagenNO {  visibility: hidden;  display:none;}.imagen {  visibility: visible;  display:block;}#productos_imagenes table {	width:99%;}

#productos_imagenes h2 {	/*text-transform: uppercase;*/    color: white;    text-align: center;    position: relative;    font-size: 17px;    padding: 0px;    background-color: #514F4E;    margin: 2px 0px 0px 0px;    font-weight:bold;    font-style:italic;    width: 100%;}

#quienes_somos_estatico {	width:100%;	float:left;	visibility: hidden;	height: 0px;	display: block;	/*padding-top: 50px;*/	overflow-x: hidden;	/*background-color: blue;	text-align: center;*/}
#quienes_somos_estatico p {	/*vertical-align: middle; */	width: 60%;	font-size: 23px;	/*color:#71422B;	font-weight: bold;	*/	/*margin-left: 20px;	background-color: red;*/	margin-left: auto;    margin-right: auto;    margin-top: 100px;    text-align : justify;     overflow: hidden;}
#contactos_estatico {	width:100%;	float:left;	visibility: hidden;	height: 0px;	display: block;	/*padding-top: 50px;*/	overflow-x: hidden;	/*background-color: blue;	text-align: center;*/}#contactos_estatico table {	/*vertical-align: middle; */	width: 25%;	font-size: 23px;	/*color:#71422B;	font-weight: bold;	*/	/*margin-left: 20px;*/    text-align : justify;     overflow: hidden;    margin-left: auto;    margin-right: auto;    margin-top: 10px;}
#contactos_estatico table input {	width: 100%;	}
#contactos_estatico h2 {	width: 100%;	margin: auto;	text-align: center; 	}
#map {	margin: auto;	height:340px;	width:600px;}#mapfoot {	margin: auto;	height:188px;	width:100%;}
#generar_pedido {	 visibility: hidden;}

/*ESTILOS PARA EL LOGO*/

.logo {	/*background-color: red; */	position:absolute;	left:40%;	top:8%;	/*position:relative;*/	z-index: 100; }
.logo img {	height: 150px;	width:  220px;}

/*FIN ESTILOS PARA EL LOGO*/

/*ESTILOS PARA TABLA CONTENEDOR CENTRAL*/

/*#contenedor_central table{	width: 100%;}*/
body {	font-family: Nobile;	text-align: center; 	overflow-x: hidden;}
.slidesjs-container {	height: 100%;}
.slidesjs-control {	height: 100%;}

#slides {	padding-top:50px;	width:50%;	margin: 0 auto;	height: 429px; 	width:  572px; 	padding-button:0px;}
#slides img {	width:100%;	height:100%;}.slidesjs-pagination {	margin-top: 1px;	background: white;	list-style:none;	overflow:hidden;	color: red;}
.slidesjs-pagination li {	float:left;	background: #71422B;	color: red;}
.slidesjs-pagination li a {	display:block;	padding:10px 20px;	color:#71422B;	text-decoration:none;	background: white;}
.slidesjs-navigation {	background-color: #71422B;}	
.slidesjs-pagination li a:hover {	background:white;}
#slides .active {	background:#5B2A1B;	border: 10px;}
.icon-play3  {	background-color: #71422B;}
.slidesjs-stop  {	background-color: #71422B;}
.slidesjs-navigation{	background:#000;	color:#fff;	text-decoration:none;	display:inline-block;	padding:13.5px 20px;	float:right;}

/*ESTILO PARA CADA CAJA COMPLETA DE CADA PRODUCTO*/
.view_principal {	width: 100%;	padding-right: 5px;	padding-top: 5px;	/*	border-style: solid;	border-color: #CEC541;	*/}

/*ESTILO PARA EL SABOR DEL PRODUCTO DE CADA CAJA*/
.sabor {	display: inline-block;	color: white;	/*border-bottom-width: 0px;*/}
/*ESTILOS PARA MASCARA*/
.view {	border-top-width: 0px;	border-style: solid;	border-color: #C49E0D;    width: 100%;    /*height: 200px;*/    margin: 0px;    float: left;    /*border: 10px solid #fff;*/    overflow: hidden;    position: relative;    text-align: center;    /*box-shadow: 5px 5px 5px 5px #e6e6e6;*/    cursor: default;    /*    padding-right: 3px;    padding-left: 2px;    */}
.view_titulo {	border-bottom-width: 0px;	border-style: solid;	border-color: #C49E0D;	width: 100%;	height: 100%;	color: #ffffff;    text-align: center;    position: relative;    font-size: 17px;    padding: 0px;    margin: 0px 0px 0px 0px;    /*font-weight:bold;*/    /*font-style:italic;*/    background-color: #333333;}

.view .mask, .view .conent {    /*width: 300px;*/    width: 100%;    height: 100%;    position: absolute;    overflow: hidden;    top: 0;    left: 0;}
.view img {    display: block;    position: relative;    /*width: 300px;*/    width: 100%;    height: 100%;}
/*ESTILO PAR A LOS ICONOS*/
.view .icono_agregar_principal{	/*background-color: red;*/	display: block;    position: absolute;	top:  87%;   	left: 90%;  	cursor: hand;  	cursor: pointer;   	/*z-index:8;*/}
.view .icono_agregar_principal img {    display: block;    position: relative;    width: 20px;    height: 20px;    cursor: hand; }
.view .icono_eliminar_principal{	/*background-color: red;*/	/*display: block;*/    position: absolute;	top:  87%;   	left: 90%;  	cursor: hand;  	cursor: pointer; }
.view .icono_eliminar_principal img {    /*display: block;*/    position: relative;     width: 20px;    height: 20px;}.view .icono_eliminar_principal {    visibility: hidden;}

/*FIN DE ESTILOS ICONOS BOTON*//*ESTILOS PARA EL CHECK*/
.view .check  {	/*display: block;*/	/*background-color: red;*/	position: absolute; 	top:  81%;   	left: 85%;	width: 20px;    height: 20px;    visibility: hidden;}
.view .check img  {	width: 30px;    height: 30px;}
.view:hover .check {     opacity: 0;}
/*FIN DE ESTILOS PARA CHECK*/
/*.view h2 {    color: #71422B;    text-align: center;    position: relative;    font-size: 17px;    padding: 0px;    margin: 0px 0px 0px 0px;    font-weight:bold;    font-style:italic;}*/
.view p {    /*font-family: Georgia, serif;*/    font-family: Nobile;    /*font-style: italic;*/    font-size: 13px;    position: relative;    color: #fff;    padding: 10px 0px 0px 0px;    text-align: center;}

/*ESTILO ESPECIFICO PARA EFECTO MASCARA*/
.view img {    transition: all 0.2s linear;}
.view .mask {    opacity: 0;    background-color: hsla(0, 1%, 65%, 0.8);    transition: all 0.4s ease-in-out;}
/*.view h2 {    opacity: 0;    transform: translateY(-100px);    transition: all 0.2s ease-in-out;}*/
.view p {     opacity: 0;    transform: translateY(100px);    transition: all 0.2s linear;}

/*EFECTIVO OVER*/
.view:hover img   {     transform: scale(1.1);}
.view:hover .mask {     opacity: 1; }
.viwe:hover h2,.view:hover p {    opacity: 1;    transform: translateY(0px);}
.view:hover p {    transition-delay: 0.1s;}
.view:hover a.info {    transition-delay: 0.2s;}

/*FIN DE EFECTO OVER*/

/*ESTILOS PARA TABLA DE CARRITO DE COMPRAS*/
.tabla th        {	padding: 0px;	font-size: 13px;	background-color: #514F4E;	color: #FFFFFF; border-width: 0px; text-align: center;}
.botonAdmin {background-color: #514F4E; color: #000000;}
.campoResaltado {background-color: yellow;}

.tabla .modo1 {	font-size: 12px;	font-weight:bold;	color: #000000;	background-color: #B1B0B3;}

/*ESTILO PARA BOTON DE TABLA */
.tabla .modo1 img {	width: 20px;    height: 20px;    cursor: hand;  	cursor: pointer; }
/*FIN DE ESTILO PARA BOTON DE TABLA*/

.tabla .modo1 td {	padding: 5px;	border-width: 0px;	/*	border-style: solid;	border-color: #2E2D2D;	*/	text-align: left;	vertical-align:middle;}
.tabla .modo1:hover td {	background-color: #B7B6B7;}
.tabla .modo2 input {	width: 32px;	height: 30px;}
.tabla .modo3 input {	width: 80px; }
/*FIN DE ESTILO PARA TABLA DE CARRITO DE COMPRAS*/

.boton {  color: #fff;  background-color: #6C000A;  border-color: #000000;  text-transform: uppercase;  -webkit-border-radius: 5px 10px;  /* Safari  */  -moz-border-radius: 5px 10px;   margin: 2px;  border-width: 1px;  border-style: solid;  border-color: #2E2D2D;  height: 30px;}
.boton:hover {	background-color: #514F4E;}