@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?d78145');
    src:    url('fonts/icomoon.eot?d78145#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?d78145') format('truetype'),
        url('fonts/icomoon.woff?d78145') format('woff'),
        url('fonts/icomoon.svg?d78145#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-play3:before {
    content: "\e900";
}
.icon-pause2:before {
    content: "\e901";
}
.icon-arrow-right:before {
    content: "\e902";
}
.icon-arrow-left:before {
    content: "\e903";
}

